---

- name: Include OS-specific vars
  ansible.builtin.include_vars: "{{ item }}"
  with_items:
    - "{{ ansible_facts['os_family'] }}.yml"

- name: Create user for Syncthing
  ansible.builtin.include_tasks: user.yml
  when: syncthing_manage_user

- name: Add Syncthing APT repository (Debian/Ubuntu)
  ansible.builtin.include_tasks: apt-repo.yml
  when:
    - ansible_facts["os_family"] == "Debian"
    - syncthing_repo

- name: Install Syncthing
  ansible.builtin.package:
    name: syncthing
    state: present

- name: Install python-lxml package for configuration parsing
  ansible.builtin.package:
    name: "{{ syncthing_python_lxml_package }}"
    state: present

- name: Syncthing service
  ansible.builtin.service:
    name: "syncthing@{{ syncthing_user }}.service"
    state: "{{ syncthing_service_state }}"
    enabled: "{{ syncthing_service_enabled }}"

- name: Configure Syncthing
  ansible.builtin.include_tasks: configure.yml
